<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boring</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<div  style="height: 600px">
<div style="padding-top:10%">
	<form class="bs-example bs-example-form" role="form" action="/textsubmit" method="post">
        {% csrf_token %}
		<div class="row">
			<div class="col-lg-6 container">
				<div class="input-group ">
					<input type="text" class="form-control" id="textinput" name="textinput">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">
							bored
						</button>
					</span>
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
	</form>
    <div class="col-lg-6 container">
      <p> 您今天心情：{{ mood }}</p>
    </div>
    <div class="col-lg-6 container">
        {% for his in hisinput  %}
            <p>{{ his }}</p>
        {% endfor %}
{#        <div align="center">{{ hisinput }}</div>#}
    </div>
</div>
</div>

<div style="width:300px;margin:0 auto; padding:20px 0;">
	<img src="static/admin/img/beiAn.png">
<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13052302000201" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">冀公网安备 13052302000201号</p></a>
<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13052302000201" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">@2020 boredno 冀ICP备18030797号</p></a>
</div>
<div align="center" style="font-size: 10px;">@2020 boredno 冀ICP备18030797号</div>
</body>
</html>